<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Changing password</title>
</head>
<body>
<main class="content-wrapper m-auto">
    <div layout:fragment="content" class="container-fluid" style="margin-top: 4rem">
        <form method="POST" th:action="'/user/change-password/' + ${userId}" th:object="${changePasswordForm}">
            <div class="form-group col-md-2 offset-md-4 m-auto">
                <label for="password">New password</label>
                <input name="password" type="password" class="form-control" id="password"
                       placeholder="password">
            </div>
                <br>
            <div class="form-group col-md-2 offset-md-4 m-auto">
                <button type="submit" class="btn btn-success m-auto">Change password</button>
            </div>
        </form>
        <br>
        <button sec:authorize="isAuthenticated() && (hasRole('USER') || (hasRole('SUPPORT')))"
                class="btn btn-secondary" onclick="window.history.back()"
                style="margin-left: 575px">Back
        </button>
    </div>
</main>
</body>
</html>